
// Meta Hacks
meta(name="viewport" content="width=device-width, initial-scale=1.0") 
meta(charset="UTF-8")

// SEO etc TODO
title #{title}
meta(name="description" content=desc)
meta(name="keywords" content=keys)
meta(name="author" content="Milan Kladívko")

// Theming on mobile TODO
meta(name="theme-color" content="")
meta(name="msapplication-navbutton-color" content="")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="")


// Style imports
link(href='/styles/base.css', type='text/css', rel='stylesheet')

// Script imports
script(src='/scripts/script.js')
