p Vítr skoro nefouká a tak by se na první pohled mohlo zdát, že se balónky snad vůbec nepohybují. Jenom tak klidně levitují ve vzduchu. Jelikož slunce jasně září a na obloze byste od východu k západu hledali mráček marně, balónky působí jako jakási fata morgána uprostřed pouště. Zkrátka široko daleko nikde nic, jen zelenkavá tráva, jasně modrá obloha a tři křiklavě barevné pouťové balónky, které se téměř nepozorovatelně pohupují ani ne moc vysoko, ani moc nízko nad zemí. Kdyby pod balónky nebyla sytě zelenkavá tráva, ale třeba suchá silnice či beton, možná by bylo vidět jejich barevné stíny - to jak přes poloprůsvitné barevné balónky prochází ostré sluneční paprsky.

p Jenže kvůli všudy přítomné trávě jsou stíny balónků sotva vidět, natož aby šlo rozeznat, jakou barvu tyto stíny mají. Uvidět tak balónky náhodný kolemjdoucí, jistě by si pomyslel, že už tu takhle poletují snad tisíc let. Stále si víceméně drží výšku a ani do stran se příliš nepohybují. Proti slunci to vypadá, že se slunce pohybuje k západu rychleji než balónky, a možná to tak skutečně je. Nejeden filozof by mohl tvrdit, že balónky se sluncem závodí, ale fyzikové by to jistě vyvrátili. Z fyzikálního pohledu totiž balónky působí zcela nezajímavě.

p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Eget duis at tellus at urna condimentum mattis pellentesque id. Est placerat in egestas erat imperdiet sed euismod. Bibendum neque egestas congue quisque egestas diam in arcu. Erat velit scelerisque in dictum non consectetur a erat. Velit egestas dui id ornare arcu. Fames ac turpis egestas sed tempus. Tortor id aliquet lectus proin nibh nisl condimentum id venenatis. Ultrices tincidunt arcu non sodales neque sodales. Adipiscing diam donec adipiscing tristique risus nec. Ac felis donec et odio pellentesque diam volutpat commodo sed. Eu consequat ac felis donec et odio. Massa vitae tortor condimentum lacinia. Vitae elementum curabitur vitae nunc.

p Lectus urna duis convallis convallis tellus id interdum. A erat nam at lectus. Ipsum nunc aliquet bibendum enim facilisis. Sit amet aliquam id diam maecenas ultricies mi eget mauris. Id volutpat lacus laoreet non curabitur gravida arcu ac. Dictum sit amet justo donec. Sed euismod nisi porta lorem mollis. Sagittis eu volutpat odio facilisis mauris sit. Dui sapien eget mi proin sed libero. Nunc mi ipsum faucibus vitae.

p Lacinia quis vel eros donec ac odio tempor orci. Consequat semper viverra nam libero justo laoreet sit. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Pellentesque nec nam aliquam sem et. Vivamus arcu felis bibendum ut. Posuere lorem ipsum dolor sit amet consectetur. Duis at tellus at urna condimentum. In nibh mauris cursus mattis molestie. Cras ornare arcu dui vivamus arcu felis bibendum ut. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Id aliquet lectus proin nibh nisl condimentum id venenatis. Malesuada proin libero nunc consequat. Est ullamcorper eget nulla facilisi etiam dignissim diam quis.

p Accumsan sit amet nulla facilisi morbi tempus. Eget nullam non nisi est sit amet facilisis. Scelerisque felis imperdiet proin fermentum leo vel orci porta non. Id diam vel quam elementum pulvinar. Diam donec adipiscing tristique risus nec feugiat in. Sed viverra tellus in hac. Pellentesque sit amet porttitor eget dolor morbi non. Quis lectus nulla at volutpat diam ut. Amet purus gravida quis blandit turpis cursus in hac habitasse. Pretium lectus quam id leo in vitae turpis. In fermentum posuere urna nec tincidunt praesent. Pretium quam vulputate dignissim suspendisse in est ante in. Odio euismod lacinia at quis risus. Fusce ut placerat orci nulla pellentesque dignissim. Orci a scelerisque purus semper eget duis at. Sapien nec sagittis aliquam malesuada bibendum. Pellentesque elit eget gravida cum sociis natoque. Quam nulla porttitor massa id neque aliquam vestibulum. Sit amet porttitor eget dolor morbi non.

p 
  | Odio euismod lacinia at quis risus. Fusce ut placerat orci nulla pellentesque dignissim. Orci a scelerisque purus semper eget duis at. Sapien nec sagittis aliquam malesuada bibendum. Pellentesque elit eget gravida cum sociis natoque. Quam nulla porttitor massa id neque aliquam vestibulum.
  span.spoiler  Tohle je skrytý "spoiler" uprostřed textu. 
  | Odio euismod lacinia at quis risus. Fusce ut placerat orci nulla pellentesque dignissim. Orci a scelerisque purus semper eget duis at. Sapien nec sagittis aliquam malesuada bibendum. Pellentesque elit eget gravida cum sociis natoque. Quam nulla porttitor massa id neque aliquam vestibulum.

p.spoiler Tohle je celý paragraf se spoilerem. Odio euismod lacinia at quis risus. Fusce ut placerat orci nulla pellentesque dignissim. Orci a scelerisque purus semper eget duis at. Sapien nec sagittis aliquam malesuada bibendum. Pellentesque elit eget gravida cum sociis natoque. Quam nulla porttitor massa id neque aliquam vestibulum.
    
div.short-answer 
  p Tohle je celý blok se skrytou zprávou o výtahu ze článku.
  ul 
    li bude moct mít i seznamy
    li dlouhé seznamy
    li buďme připraveni
    
    
    
h2 Hezký velký nadpis... a&nbsp;pořádně dlouhý, na&nbspněkolik řádek!

p 
  | Tortor at auctor urna nunc id cursus metus. Velit sed ullamcorper morbi tincidunt ornare. Nisi lacus sed viverra tellus in hac habitasse. 
  a(href='#') Co třeba dlouhý odkaz, který je na několik řádek. Libero id faucibus nisl tincidunt.
  |  Tortor condimentum lacinia quis vel eros donec ac odio tempor. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque sit.

p.big A o tom to celé je!
    
quoteblock Est ultricies integer quis auctor elit sed vulputate. Sit amet facilisis magna etiam tempor. #[b Tortor consequat id porta nibh venenatis cras.] Quis eleifend quam #[i adipiscing] vitae proin sagittis nisl. Porta non pulvinar neque laoreet.

p 
  | some text
  button.small button!
  | and some more
button.center.big centered big
button.medium medium!

input(type='range')
input(type='text')
input(type='number')
input(type='submit' value='SUBMIT')


input(type='radio' name='group' value='true' id='rad-yes')
label.radio(for='rad-yes') Yes
    
input(type='radio' name='group' value='false' id='rad-no')
label.radio(for='rad-no') No
      
    
input(type='checkbox' value='dark souls' id='ch-ds') 
label.check(for='ch-ds') Dark Souls
    
input(type='checkbox' value='bloodborne' id='ch-bb' checked)
label.check(for='ch-bb') Bloodborne
    
input(type='checkbox' value='sekiro' id='ch-sek')
label.check(for='ch-sek') Sekiro
    
