doctype html
html(lang='cz')


  head
  
    // CSS & JS Imports and meta tags are handled by this include
    include _head.pug
  
  
  // Body holds a dark-mode type-class
  body(class=dark ? 'dark' : 'light')
  
  
    // After-content interactable features (dialogs, settings etc.)
    section#popups
    
      // Animated page loader
      #loading
        .background
        .segments
          .sa
          .sb
          .sc
          .sd
        
      // A dark mode dialog asking the user at night
      #dark-mode-dialog.hidden
      
      // Settings window with font and text width
      #settings.hidden
  
  
  
    // Header of the page, includes navigation etc.
    header.article
      
      // Header shadow and background can't be done 
      // with pseudo-elems very well :(
      .header-bg
      .header-shadow
      
      // Website logo
      a.logo(href=navigation.home.link)
        .logo-decor
        span.logo-text mk
        
      // Header nav list with all the important root pages
      nav
        ul.nav-main
          each page in navigation.navbar
            li.nav-main-item
              a.nav-main-link(href=page.link) #{page.heading.toLowerCase()}
              
                ul.nav-sub
                  li.nav-sub-item 
                    a.nav-sub-link(href="#") Placeholder
                  li.nav-sub-item 
                    a.nav-sub-link(href="#") Another placeholder to a page with a long name
                  li.nav-sub-item
                    a.nav-sub-link(href="#") Sort these by popularity or something?
      
      //- TODO add a dual-header, changing as user scrolls up or down
      
      
    // Where all the important webpage text is
    // (not including a footer)
    main#container.article
    
    
      // Wrapper for content 
      // (multiple contents side by side etc., getting ready for SPA)
      .content-wrap.not-loaded
      
        
        // Heading of the article page, the thing people see first
        section.page-heading
          .wrap
            h1.headline 
              !=headline
            p.description
              !=description
            p.date #{date}
      
        // Page content section
        section.page-content(contenteditable)
        
          // Read article content 
          // (has raw html >> don't forget special string including)
          != content_html
      
      
    // Footer, not part of main content
    footer#footer
      include _footer.pug
      
      
      
  