doctype html
html(lang='cz')

  head
    - var title = 'Error404 // Milan Kladívko'
    include _head.pug

  body(class=dark ? 'dark' : 'light')

    main#container
      .error.error-404
        
        p.error-code 404
        
        p.error-heading
          | Kde nic, tu nic!
          
        p.error-subtext 
          | Na adrese <br>
          span.code=path
          | <br>nic není... 
          
        a(href='/') #[b Zpět na domovskou stránku?]
    
    footer#footer
      include _footer.pug

