doctype html
html(lang='cz')

  head
    - var title = 'Error500 // Milan Kladívko'
    include _head.pug
    
  body(class=dark ? 'dark' : 'light')
  
    main#container
      .error.error-500
      
        p.error-code 500

        p.error-heading
          | Vypadá to, že já mám něco špatně... Moje chyba!
        
        p.error-subtext 
          | No nic, co se dá dělat. O chybě vím.
          a.button(href='/')
            | Zpět na domovskou stránku?
          
    footer#footer
      include _footer.pug
