doctype html
html(lang='cz')

  head
    include _head.pug

  body(class=dark ? 'dark' : 'light')
    
    
    section#popups 
      
      // A dark mode dialog asking the user at night
      #dark-mode-dialog.hidden 

    
    header
      .header-bg
      .header-shadow

      a.logo(href=navigation.home.link)
        .logo-decor
        span.logo-text mk

      nav
        ul
          each page in navigation.navbar
            li
              a(href=page.link) #{page.heading.toLowerCase()}


    main#container
    
      .content-wrap.not-loaded
      
        section.page-heading
          .wrap
            h1.headline domovská stránka
            p.description vítejte or whatever
            p.date 20. 2. 2019

        section.page-content
          
          //- TODO just a test page
          include _test-content.pug
          
      
      .content-wrap.not-loaded
      
        section.page-heading
          .wrap
            h1.headline druhá stránka

    footer#footer
      include _footer.pug
  