

/* TODO on-load animations NOT WITH JAVASCRIPT 
   see https://stackoverflow.com/questions/6805482/
*/


/* Load fonts here (not async) so we 
   don't get the that 'font jitter' */
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Montserrat:300,400,800|Karma:300,400|Merriweather:300,400');


/* === COLORS === */
body.dark {
	--bg-color: #1c1c24;
	--bg-color1: #343342;
	
	--bg-color2: #cfad17;
	--bg-color3: #f2ca1f;

	--header-text-color: var(--bg-color1);
	
	--text-color: #d9d08c;
	--shade: var(--bg-color1);
}
body.light {
	--bg-color:  #EAF6F7;
	--bg-color1: #343342;

	/* blue theme *
	--bg-color3: #137fc6;
	--bg-color2: #3F90C6;
	/* https://coolors.co/f47f30-f28c48-eef2e6-585864-343342 */

	/* orange theme */
	--bg-color2: #F28C48;
	--bg-color3: #F47F30;
	--header-text-color: var(--bg-color1) !important;
	--interactable-text-c: var(--bg-color1) !important;
	/* https://coolors.co/f47f30-f28c48-dce0d5-585864-343342 */
	--text-color: #585864;
	--shade: var(--bg-color1);
}
body {
	/* Binding the colors to groups on the page */
  
	--header-color: var(--bg-color3);
	--header-text-color: var(--bg-color);
	--header-text-emph: var(--bg-color2);
  
	--heading-bg-color: var(--bg-color2);
	--heading-text-color: var(--bg-color1);

	--background-c: var(--bg-color);
	--background-emph-c: rgba(128,128,128, 0.2); /* shade that works for any theme */
	--interactable-c: var(--bg-color3);
	--interactable-text-c: var(--bg-color);
	--spoiler-c: var(--background-emph-c);

	/* Universal vars */

  --theme-skew: -20deg;
	
  --header-base-height: 32px;
	--header-height: calc( var(--header-base-height) + (.4vw + .7vh) );
	--header-base-width: 90vw;
  --header-width: var(--header-base-width);
  
	--heading-height: 60vh;

  --content-base-width: 38em;
  --content-base-font-size: initial;
  --content-font-size: calc(var(--content-base-font-size) + (.3vw + .5vh));
  --content-align-mode: left;

	--filter-shadow: drop-shadow(5px 5px 5px var(--background-emph-c));
	--filter-focus: drop-shadow(0 0 20px var(--text-color));
	--link-focus: none;

	/* TODO move these elsewhere? */
	--trans-fn: cubic-bezier(0.4, 0, 0.2, 1);
	--trans-len: 0.35s; 
}



/* font usage */
body {
	--fontfam-large: 'Allerta Stencil', serif;
	--fontfam-normal: 'Montserrat', sans-serif;
	--fontfam-small: /*'Merriweather'*/ 'Montserrat', monospace;
}

/* text styles */
p, span, main li, button, input, label {
	font-family: var(--fontfam-small);
	font-weight: 400;
	line-height: 1.6em;  
  text-rendering: optimizelegibility;
}
ul.overview {
  font-family: var(--fontfam-normal);
  font-weight: bold;
}
nav {
	font-family: var(--fontfam-normal);
  font-weight: 800;  
}
.logo-text {
	font-family: var(--fontfam-large);
	font-weight: bold;
}
.page-heading .description {
	line-height: 1.4em; 
}
h1, h2, h3 {
	font-family: var(--fontfam-normal);
	font-weight: bold; 
}

/* global overrides and hackies */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;

  /* let all transitions have the same func and duration */
  transition-property: none;
  transition-timing-function: var(--trans-fn);
  transition-duration: var(--trans-len);
}

/* custom scrollbar */
body::-webkit-scrollbar {
	width: 8px;
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
}
body::-webkit-scrollbar-thumb {
	background: var(--bg-color1);
}








body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 18px;
	margin: 0;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;  /* TODO deal with scrollbar overflow!! */
	/* ...never ever let anything force a horizontal scroll */
	overflow-y: scroll;
	/* but always have a vertical scroll */
}

/* everything in body should know how fat the scrollbar is */
body > header, body > main, body > footer {
  --scrollbar-width: calc(100vw - 100%);
}



/* === HEADER === */

header {
	color: var(--header-text-color);
	
	/* x-centering the header with non-100% width */
	width: var(--header-width);
	left: calc((100vw - var(--header-width)) / 2); 

	/* content layout stuff */
	display: flex;
  flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;

	/* bg anchor + always in view */
	position: fixed;
	z-index: 1000;

}

/* scrolled-down mode hide effects 
   @Incomplete; read options at this time */
header { transition-property: transform; }
body.scrolled-down header { transform: translateY(-105%); }

/* reset the default link style in navs and the logo */
a.logo, .nav-main-item > a, .nav-sub-item > a {
	color: inherit;
	text-decoration: inherit;
}
.header-bg {
	background-color: var(--header-color);
	top: 0;
	left: 0;
	z-index: -100; 
}
.header-shadow {
  --offset-x: 5px;
  --offset-y: 5px;
	background-color: var(--shade);
	top: var(--offset-y);
	left: var(--offset-x);
	z-index: -101;
	/* sexy shadow effects */
	opacity: 0.3;
	filter: blur(var(--offset-y)); 
}
.header-bg, .header-shadow {
	/* stretch to parent dimensions */
	position: absolute; 
	width: var(--header-width);
	height: 100%;
	/* skew effect (the whole point of this) */
	transform: skewX(var(--theme-skew));
}

/* header logo */
a.logo {
	font-size: var(--header-height);
	display: flex;
}
.logo-text {
	color: var(--header-text-color);
  
	font-size: inherit; 
	line-height: 1em;
  letter-spacing: -0.2em;
  
  /* shove the text into the slash a bit */
	transform: translateX(-0.15em); 
}
.logo-decor {
  background-color: var(--header-text-color);
  --column-width: 0.15em;  /* ...fraction of logo height */
  width: var(--column-width);
  margin-left: calc(var(--column-width) * 1.5);
  
  transform: skewX(var(--theme-skew));
}

/* logo animation on hover */
.logo-decor, .logo-text {
	transition-property: transform; 
}
.logo:hover > .logo-decor {
	transform: translateX(1.45em) skewX(var(--theme-skew)); 
}

/* navigation */
nav { flex-grow: 1; }
ul.nav-main {
	margin: 0;
	padding: 0;
	height: 100%;
	list-style-type: none; 
	
	display: flex;
	justify-content: flex-end;
	
	font-size: calc( var(--header-height) * 0.5); 
}
li.nav-main-item {
  margin: 0 0.1em; /* a small gap between nav items */
}
a.nav-main-link {
	display: block;
	padding: 0 0.6em; /* links should occupy more space */
  line-height: var(--header-height); /* vertical text center */
  
  position: relative; /* anchor for skewed bg */
  
	transition-property: color; 
}

/* skewed overlay block for highligting */
a.nav-main-link::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
  
	transform: skewX(var(--theme-skew));

	background: transparent;
	transition-property: background;
}
.current > .nav-main-link::before {
  background: var(--header-text-emph);
}
.nav-main-link:hover, .nav-main-link:focus {
	color: var(--header-color);
}
.nav-main-link:hover::before, .nav-main-link:focus::before {
	background: var(--header-text-color);
}

/* TODO make a sub-nav list work - both desktop and mobile */
ul.nav-sub { display: none; }



/* === Mobile header tweaks === */

/* Fits, but not with skew */
@media screen and (max-width: 800px) {
  /* Stretch to full-width */
  header {
    --header-width: 100%;
    padding: 0 1em;
    left: 0;
  }
  /* turn off skew */
  .header-bg, .header-shadow { transform: none; }
  .header-shadow {
    --offset-x: 0;
    --offset-y: 10px;
  }
}

/* Doesn't even fit anymore, compact as possible */
@media screen and (max-width: 600px) {
  
  /* the padding doesn't look very good on a stretched header */ 
  nav { padding-right: 0; }
  
  /* don't make links bigger on mobile */
  a.nav-main-link { padding: 0 5px; }

  /* don't skew on mobile - it looks horrible on click */
  a.nav-main-link::before { transform: none; }
  
}


/* === MAIN === HEADING === */

main {
	/* ensure that an empty page is still filled */
	min-height: 80vh;
	
	width: 100%;
	margin: 0 auto; /* just in case?? */
	padding-top: calc(var(--header-height) * 0.7); 
	
	position: relative; /* anchoring the various pages */
}

.page-heading {
	width: 100%; 
  
	height: var(--heading-height);
	max-height: 24em;
	
	margin-top: 2em;
	margin-bottom: 3em;

	background: var(--header-color); /* or maybe pictures */
}

.page-heading .wrap {
	width: 50rem;	
	max-width: calc(100vw - 2.6em);
	margin: 0 auto; /* center the box */

	/* align the whole box at the bottom */
	position: relative;
	top: 100%;
	transform: translateY(-100%);

	padding-bottom: 0.6em;
}

.page-heading .headline,
.page-heading .description,
.page-heading .date {
	color: var(--heading-text-color);
	padding: 0; margin: 0;
}
.page-heading .headline {
	max-width: 100%;
	font-size: 180%;
	line-height: 1.2em;
}
.page-heading .headline::after /* underline on heading */ {
	width: 100%;
	background-color: var(--heading-text-color);
	transform: skewX(var(--theme-skew));
	height: 0.1em;
	content: '';
	display: block;
}
.page-heading .description {
	width: 100%;
	max-width: 90%;
	font-size: 100%;
	
	margin-top: 0.5em;
  margin-bottom: 0.2em
}
.page-heading .date {
	font-size: 100%;
	line-height: 1em;
	text-align: right;
}



/* on-load effects */
.page-heading .headline,
.page-heading .description,
.page-heading .date {
	transition-property: opacity, transform;
	transition-delay: 0.1s;
}
.page-heading .headline {
	transition-duration: calc(var(--trans-len) * 3);
}
.page-heading .description {
	transition-duration: calc(var(--trans-len) * 5);
}
.not-loaded .headline,
.not-loaded .description {
	opacity: 0;
	transform: translateX(1rem);
}
.page-heading .date {
	transition-duration: calc(var(--trans-len) * 20);
}
.not-loaded .date {
	opacity: 0;
}


/* === CONTENT === */

.page-content {
	font-size: var(--content-font-size);
	text-align: var(--content-align-mode);
  
	width: var(--content-base-width);
  max-width: 100%;
  
	min-height: 100vh; /* for those empty pages */
	margin: 0 auto; /* center ALL the content */
  padding: 2em 1em;
}

/* content on-load effects */
.page-content {
	transition-duration: calc(var(--trans-len) * 6);
	transition-delay: 0.5s;
	transition-property: opacity, transform;
}
.not-loaded .page-content {
	opacity: 0;
	transform: translateY(2rem);
}


/* === TEXT STYLES === */

/* todo blocks of text */
main.article code {
  font-size: 0.8em;
  margin: 2em 0;
  padding: 1em .5em;
  
  --todo-color: hsl(0, 50%, 50%);
  color: var(--todo-color);
  background: var(--background-emph-c);
  display: block;
  border: 3px solid var(--todo-color);
  border-radius: 5px;
  text-align: left;
}

/* in-text centering */
.center {
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}
/* assign a block display (inline overriding) */
.block { display: block; }

/* text */
p {
	margin: 0 auto 0.9em;
	padding: 0.4em 0;
}
/* lists */
main ul, main ol {
  list-style: none; /* remove the default, breaks everything */
  padding: 0 0; 
  margin: 1em 0 1.4em;
}

/* overview list section */
ul.overview {
  padding: 1.6em 1.5em 0.8em 0.8em;
  background: var(--background-emph-c);
}
ul.overview::before {
  content: 'Článek ve zkratce';
  font-size: 1.4em;
  color: var(--interactable-c);
  
  text-align: center;
  display: block;
}
main li {
  --side-pad: 1.2em;
  padding-left: var(--side-pad);
  margin: 1.4em 0;
  line-height: 1.5em;
  position: relative; /* set the anchor for bullet */
}
main li::before {
  width: 1.3em;
  height: 1.3em;
  top: 0;
  left: 0;
  /* left: calc(var(--side-pad) * -1); */

  /* codepen.io/noahblon/post/coloring-svgs-in-css-background-images */
  background-color: var(--text-color);
  -webkit-mask-image: URL('/images/fancycaret.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 70%;
  -webkit-mask-position: left;
  
  content: ' ';
  display: block;
  position: absolute;
}
/* quote blocks */
quoteblock {
	font-size: 110%;

	--quote-margin: 30px;
	padding-left: var(--quote-margin);
	padding-right: var(--quote-margin);
	
	color: var(--text-color);
	border-color: var(--text-color);

	position: relative;
}
quoteblock::before, quoteblock::after {
	content: '"';
	font-size: 3em;
	line-height: 1em;

	display: block;
	position: absolute;
	z-index: -1;
}
quoteblock::before {
	transform: rotate(180deg);
	top: -0.5em;
	left: 0;
}
quoteblock::after {
	top: +0.1em; /* the ending quote has to be a little lower */
	right: 0;
}

/* emphasis on paragraph */
p.big, strong > p {
	font-size: 120%;
  font-weight: bold;
}

/* hiding parts of text as spoilers, show on click */
.spoiler {
  font-size: 80%;
	transition-property: background, color;
	position: relative;
  padding: 0.5em 2em;
  background: var(--spoiler-c);
  
  cursor: pointer;
}
.spoiler:not(:hover) /* TODO Add a JS `tabIndex` */ {
	color: transparent;
	/* filter: blur(0.3em); */
}
.spoiler::after {
	/* text na okně, TODO consider removal */
	content: ' '; 
	font-size: 0.6em;
	font-weight: bold;
	color: var(--background-c);

	display: block;
	position: absolute;
	left: 0.5em;
	top: 0.4em;

	transition-property: color;
}
.spoiler:hover::after, .spoiler:focus::after {
	color: transparent;
}

/* headings */
h2 {
	font-size: 180%;
	text-align: left;
	margin: 2em 0 0.4em;
	padding: 0.1em 0 0.3em;
	color: var(--header-color);
	position: relative;
}
h2::after {
  /* underline the in-content headings */
	background: var(--header-color); 
	width: 100%;
  /* thickness of the underline */
	height: 5px;
  transform: skewX(var(--theme-skew));

	content: '';
	display: block;
	position: absolute;
	bottom: 0;
}
hr {
  background: var(--text-color);
  /* get rid of the default border-look */
  border: none;
  /* thickness of the line */
  height: 2px;
  /* width of the line - 100% isn't always best */
  width: 60%;
  /* margin collapses into content's margins */
  margin: 1.6em auto 1.8em;
}
.dots::before {
  color: var(--text-color);
  display: block;
  /* using ::before for the automatic dot text */
  content: '• • •';
  /* use margin for collapsing into the paragraph margins */
  margin: 1em auto;
  /* size of the dots */
  font-size: 200%;
  /* x-centering */
  text-align: center;
  width: 100%;
  /* y-centering of the dots to the pos of hr */
  line-height: 1px;
  height: 1px;
}

/* coloring */
button, input, a {
	/* button and form resets */
	outline: none;
	appearance: none;
	-webkit-appearance: none;
	border: none;
}

/* focus of interactable items */
button:focus, input[type=range]:focus, input[type=submit]:focus {
	filter: var(--filter-focus);
}
/* link focus effect */
main a:focus {
	
}


button, input, label::before {
	color: var(--interactable-text-c);
	background: var(--interactable-c);
}

label {
	color: var(--text-color); }
label::after {
	background: var(--interactable-text-c); }

main a, input[type=text], input[type=number] {
	color: var(--interactable-c);
	background: var(--background-emph-c);
}
main a {
  background: transparent;
}
a:visited { /* nothing much */ }
a:active { /* TODO make a click -animation- triggered by a click */ }

/* TODO link hovers? look at the tabindex hacks */

button, input[type=submit] {
	background: transparent;
	border: none;
	margin: 0 0.3em;  /* avoid skew collision */
	padding: 0.1em 1em;
	position: relative;
	
	cursor: pointer;
	font-weight: bold;
	font-size: inherit;
	line-height: inherit;
}
input[type=submit] {
	background: var(--interactable-c);
	border-radius: 0.2em;
}
button::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	
	border-radius: 0.2em;
	background: var(--header-color);
	transform: skewX(-10deg);
}
button.big {
	margin: 0.3em 0.2em;
	padding: 0.5em 2em;
	font-size: 150%;
	font-family: var(--fontfam-normal);
}
button.small {
	padding: 0 0.3em;
	font-weight: normal;
}
/* button hover animations (TODO at least consider) */


input[type=text], input[type=number] {
	font-size: 120%;
	line-height: inherit;
	font-family: var(--fontfam-small);
	
	margin: 0 0.2em;
	padding: 0.15em 0.3em calc(4px + 0.1em);
	/* is the padding too complex? maybe~~ */
}
input[type=number] {
	width: 5em;
}
/* textfield focus animation */
input[type=text], input[type=number] {
	transition-property: box-shadow;
	box-shadow: inset 0 -2px var(--interactable-c);
}
input[type=text]:focus, input[type=number]:focus {
	box-shadow: inset 0 -4px var(--interactable-c);
}

/* sliders */
input[type=range] {
	font-size: inherit;
	height: 0.2em;
	transform: skewX(-10deg);
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 0.8em;
	height: 1.4em;
	background: var(--interactable-c);
	cursor: pointer;
}

/* checkboxes and radio buttons */
input[type=checkbox], input[type=radio] {
	/* hide the checkbox altogether */
	/* instead use label::before */
	display: none;
}
input + label {
	font-size: 190%;
	/* text as block, leave space for checkbox */
	display: block;
	margin: 2px 0;
	padding-left: 1.4em;  /* ^ space */
	position: relative;
	cursor: pointer;
}
input + label::before, input + label::after {
	/* positioning and size of checkbox */
	content: '';
	display: block;
	position: absolute;
	left: 0.3em;
	top: 0.3em;
	width: 0.8em;
	height: 0.8em;
}
input + label::after {
	transition-property: transform, opacity;
	transform: scale(0);
	opacity: 0;
}
input:checked + label::after {
	transform: scale(0.5);
	opacity: 1;
}
[type=radio] + label::before, [type=radio] + label::after {
	/* round shape for radio */
	border-radius: 9999em;
}
[type=checkbox] + label::before, [type=checkbox] + label::after {
	/* slightly rounded corners for checkbox */
	border-radius: 0.1em;
}



/* === FOOTER === */

footer {
	background-color: var(--bg-color2);
	color: var(--bg-color);

	padding: 1rem 5vw; 
	margin: 4rem 0 0 0; 
	width: 100%;
	position: relative; 
}
footer::before {
	width: 100%;
	height: 100%;

	display: block;
	content: ' ';
	position: absolute;
	top: 0; left: 0; 
}




/* === LOADER ANIMATION === */




/* === ERROR PAGE STYLES === */

.error {
	width: 70vw;
	padding-top: 10vh;
	margin: auto;
	font-size: 150%;

	position: relative;
}
p.error-code {
	font-size: 3em;
	line-height: 0em;
	font-weight: bold;
	
	position: absolute;
	top: 50vh;
	right: 0;
	
	z-index: -1;
	color: var(--bg-color2);
}
p.error-code::before {
	content: 'error';
}

